<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >
    <div class="container">
        <div class="form-container">
            <h2>Forgot Password</h2>
            <form method="POST">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
            <p class="text-center">
                Remembered your password? <a href="/login">Login here</a>
            </p>
        </div>
    </div>
</body>
</html>